/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 16px;
}

body {
  background: #f3f3f3;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-flow: row wrap;
  flex: auto;
}

.column {
  display: flex;
  flex-flow: column wrap;
  flex: auto;
}

.justify--sb {
  justify-content: space-between;
}
.justify--ev {
  justify-content: space-evenly;
}
.justify--end {
  justify-content: flex-end;
}
.justify--center {
  justify-content: center;
}

.align-i--start {
  align-items: flex-start;
}
.align-i--end {
  align-items: flex-end;
}
.align-i--center {
  align-items: center;
}

.header {
  width: 100%;
  height: 7.188rem;
  background-color: #222222;
}

.logo__text {
  width: 9.5rem;
  height: 1.5rem;
  color: #ffffff;
  font-family: "Lato";
  font-style: italic;
  font-size: 1.563rem;
  font-weight: 400;
  line-height: 6.573rem;
  color: #f10e34;
}
.logo__text--white {
  color: white;
}

.logo__img {
  width: 5.438rem;
  height: 3.875rem;
  color: #ffffff;
  font-size: 4.188rem;
  position: relative;
  top: 17px;
  left: -68px;
}

.nav__items {
  margin-top: 1.125rem;
}

.nav__item {
  height: 0.688rem;
  color: #ffffff;
  font-family: Lato;
  font-size: 0.75rem;
  font-weight: 400;
  margin-right: 1rem;
  border-right: solid white 2px;
  padding-right: 1rem;
  cursor: pointer;
}
.nav__item:last-child {
  border: none;
  padding-right: 0.375rem;
  margin-right: 0;
}

.search {
  margin-top: 1.333rem;
}

.search-input__form {
  width: 36.563rem;
  height: 2.313rem;
  border-radius: 0.313rem;
  margin: 0 auto;
  overflow: hidden;
}

.search-input__btn {
  box-sizing: border-box;
  height: 2.313rem;
  background-color: #f10e34;
  border: none;
  flex: 0 0 3.375rem;
}
.search-input__btn > i {
  color: white;
}

.search-input__input {
  box-sizing: border-box;
  height: 2.313rem;
  background-color: #ffffff;
  border: none;
  flex: 1 1 auto;
  font-family: "Lato";
  font-size: 0.938rem;
  font-weight: 400;
  padding-left: 1.625rem;
}

.total {
  margin-left: 2.625rem;
}

.total__img {
  width: 2.313rem;
  height: 2.313rem;
  background-color: #f10e34;
  border-radius: 50%;
  line-height: 2.313rem;
  cursor: pointer;
}
.total__img > i {
  padding-left: 0.5rem;
  width: 0.938rem;
  height: 0.75rem;
  color: #ffffff;
}

.total__data {
  padding-top: 0.25rem;
  color: #ffffff;
  font-family: Lato;
  text-transform: uppercase;
  text-align: center;
  margin-left: 3px;
}
.total__data span {
  display: block;
}
.total__data__logo {
  font-size: 0.688rem;
  font-weight: 400;
}
.total__data__total {
  font-size: 0.875rem;
  font-weight: 700;
}

.navigation {
  width: 100%;
  height: 3.188rem;
  background-color: #f10e34;
  line-height: 3.188rem;
}

.categories__img {
  width: 1rem;
  margin-left: 1.5625rem;
  color: white;
}

.categories__title {
  margin-left: 1rem;
  color: #ffffff;
  font-family: "Lato";
  font-weight: 700;
  text-transform: uppercase;
}

.navigation__nav__list {
  flex: auto;
}

.navigation__nav__items {
  color: #ffffff;
  font-family: Lato;
  font-size: 0.938rem;
  font-weight: 400;
  text-transform: uppercase;
}

.sidebar {
  flex: 0 0 auto;
  width: 18.563rem;
}

.front-bar {
  flex: 1 1 auto;
  width: 52.125rem;
}

.categories-list {
  box-shadow: 0 0 0.438rem rgba(0, 0, 0, 0.03);
  background-color: #ffffff;
  display: none;
}

.categories-list__item {
  width: 16.813rem;
  flex: auto;
  border-bottom: solid 1px #a6a6a6;
  margin: 0 0.875rem;
  height: 3rem;
  line-height: 3rem;
  font-family: "Lato";
  font-size: 0.938rem;
  font-weight: 400;
  padding-left: 0.625rem;
}
.categories-list__item:last-child {
  border-bottom: none;
}

.categories-list__item__icon {
  width: 0.813rem;
  margin-right: 1.1875rem;
}

.categories-list__item__icon {
  color: #a6a6a6;
}

.offer-card {
  box-shadow: 0 0 0.438rem rgba(0, 0, 0, 0.03);
  background-color: white;
  margin-top: 2rem;
}

.offer-card__container {
  align-items: center;
}

.offer-card__header {
  border-bottom: solid 1px #eaeaea;
  height: 1.063rem;
  list-style: 1.063rem;
  padding: 1.5625rem 0;
  width: 15.313rem;
}

.offer-card__header__title {
  font-family: "Lato";
  font-size: 1.375rem;
  font-weight: 700;
  text-transform: uppercase;
}

.btn__left {
  font-size: 1.438rem;
  color: #f10e34;
  cursor: pointer;
}

.btn__rigth {
  font-size: 1.438rem;
  color: #cacaca;
  cursor: pointer;
}

.offer-card__body {
  overflow: hidden;
  margin-top: 1.625rem;
}

.offer-card__footer {
  margin-top: 1.3125rem;
}

.offer-card__footer__title, .card__title {
  color: #6e6e6e;
  font-family: "Lato";
  font-size: 0.938rem;
  font-weight: 400;
}

.offer-card__footer__price, .card__price {
  font-family: "Lato";
  font-size: 0.938rem;
  font-weight: 700;
  text-align: center;
  margin: 0.625rem 0;
}
.offer-card__footer__price--old, .card__price--old {
  font-weight: 400;
  text-decoration: line-through;
  margin-right: 0.5rem;
}

.offer-card__footer__stars, .card__rating {
  color: #ffc808;
  text-align: center;
  margin-bottom: 2rem;
}

.front-bar {
  width: 52.125rem;
  flex: 0 1 auto;
}

.baner {
  height: 23.5rem;
  background: url("/assets/Layer_5.jpg") no-repeat;
}

.baner__ofert {
  margin-top: 92px;
  margin-left: 32px;
  width: 25.75rem;
  height: 7.563rem;
  text-shadow: 0.125rem 0.125rem 0.438rem rgba(0, 0, 0, 0.13);
  color: white;
  font-family: "Lato";
  font-size: 2.375rem;
  text-transform: uppercase;
  text-align: center;
}
.baner__ofert__text--1 {
  color: #303a7a;
  font-weight: bold;
}
.baner__ofert__text--2 {
  font-size: 3.75rem;
  line-height: 3.626rem;
  font-weight: bolder;
}
.baner__ofert__text--3 {
  font-size: 1.375rem;
  line-height: 2.125rem;
}

.baner__btn {
  width: 8.875rem;
  height: 2.625rem;
  margin-top: 50px;
  border: 0.125rem solid black;
  background-color: transparent;
  color: black;
  font-family: Lato;
  font-size: 1.063rem;
  font-weight: 700;
  text-transform: uppercase;
}

.baner__strip {
  height: 4.938rem;
  background-color: #f10e34;
  margin-bottom: 2.4375rem;
}

.baner__strip__slogan {
  text-align: center;
  color: white;
}

.slogan__title {
  font-family: "Lato";
  font-weight: 700;
  letter-spacing: 0.188rem;
  text-transform: uppercase;
}

.slogan__body {
  font-family: "Lato";
  font-size: 0.938rem;
  font-weight: 400;
}

.product {
  width: 52.125rem;
  box-shadow: 0 0 0.438rem rgba(0, 0, 0, 0.03);
  background-color: #ffffff;
}

.product__container--min {
  padding: 2.5rem;
  padding-bottom: 3rem;
  margin: -1rem 0;
}

.product__header {
  flex: none;
  height: 4.6875rem;
  margin: 0 1.1875rem;
  border-bottom: solid #eaeaea 1px;
}

.product__title {
  color: black;
  font-family: "Lato";
  font-size: 1.375rem;
  font-weight: 700;
  text-transform: uppercase;
}

.product__nav {
  margin-right: 3rem;
  margin-left: auto;
  flex: none;
  width: 15.938rem;
}

.product__nav__itim {
  color: black;
  font-family: "Lato";
  font-size: 0.938rem;
  font-weight: 400;
  cursor: pointer;
}

.card {
  width: 11.0625rem;
  height: 17.8125rem;
  margin-left: 1.1875rem;
  margin-top: 1.6875rem;
  text-align: center;
  margin-bottom: 2rem;
}

.card__img {
  width: 11.063rem;
  height: 12.625rem;
  margin-bottom: 1.25rem;
  overflow: hidden;
}
.card__img > img {
  width: 100%;
  height: auto;
}

.card__min {
  width: 14.375rem;
  height: 5.125rem;
  margin: 1rem 0;
}

.card__min__img {
  width: 5.125rem;
  height: 5.125rem;
  overflow: hidden;
  margin-right: 1.375rem;
}
.card__min__img > img {
  width: 100%;
  height: auto;
}

.card__title {
  text-align: left;
}

.card__price {
  text-align: left;
}
.card__price--old {
  text-align: left;
}

.card__rating {
  text-align: left;
}

.hot__strip__card {
  width: 24.75rem;
  height: 14.125rem;
  position: relative;
}

.hot__strip {
  margin: 2rem 0;
}

.hot__strip__card {
  overflow: hidden;
}

.strip__card__left {
  position: absolute;
  top: 0;
  left: 0;
  height: auto;
  width: 60%;
}

.strip__card__right {
  position: absolute;
  top: 0;
  right: 0;
  height: auto;
  width: 60%;
}

.mb-2 {
  margin-bottom: 2rem;
}

.footer {
  margin-top: 4.3125rem;
}

.footer__logo {
  height: 11.438rem;
  width: 100%;
  background-color: #f10e34;
}

.footer__logo__content {
  height: 11.438rem;
  width: 100%;
}

.footer__logo__bg {
  display: block;
  width: 7.125rem;
  height: 6.25rem;
}
.footer__logo__bg--1 {
  background: url(../assets/brand4.png) no-repeat 0 0;
}
.footer__logo__bg--2 {
  background: url(../assets/brand4.png) no-repeat -206px 0;
}
.footer__logo__bg--3 {
  background: url(../assets/brand4.png) no-repeat -436px 0;
}
.footer__logo__bg--4 {
  background: url(../assets/brand4.png) no-repeat -647px 0;
}
.footer__logo__bg--5 {
  background: url(../assets/brand4.png) no-repeat -848px 0;
}
.footer__logo__bg--6 {
  background: url(../assets/brand4.png) no-repeat -1036px 0;
}

.footer__info {
  width: 100%;
  height: 25.5rem;
  background-color: #222222;
  text-align: left;
  padding-top: 5.3125rem;
  color: #b6b6b6;
  font-family: "Lato";
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5rem;
}

.main__info {
  width: 17rem;
}

.main__info__text {
  margin-top: -2.625rem;
  margin-bottom: 2.25rem;
}

.contact__pic {
  margin-right: 1rem;
  color: #f10e34;
  width: 0.8rem;
}
.contact__pic > svg {
  fill: #f10e34;
  width: 0.875rem;
  height: 0.875rem;
}

.footer__card__body {
  margin-bottom: 3.5rem;
}

.footer__card__title {
  color: #ffffff;
  font-family: "Lato";
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1.6875rem;
}

.information {
  text-decoration: none;
  display: block;
  color: inherit;
}

.logo__text--footer {
  line-height: inherit;
}

.logo__img--footer {
  position: relative;
  top: -47px;
  left: 84px;
}

.social {
  margin-left: 5.3125rem;
}
.social:first-child {
  margin-left: 0;
}

.paymant {
  margin: -0.75rem;
  width: 15.625rem;
}

.paymant__card {
  margin: 0.75rem;
  font-size: 2.188rem;
  width: 2.4rem;
}

.property-rights {
  height: 8.875rem;
  width: 100%;
  background-color: #1f1e1e;
  color: white;
  font-family: "Lato";
  font-size: 0.875rem;
  font-weight: 400;
}

.content {
  margin: 0 auto;
  padding-top: 2.625rem;
}

.footer__nav {
  width: 27.625rem;
}

.rights {
  width: 100%;
  margin-top: 2.375rem;
}

/*# sourceMappingURL=style.css.map */
