.footer {
    margin-top: 4.3125rem;
}

.footer__logo {
    height: 11.438rem;
    width: 100%;
    background-color: $color__bg-btn__slider--active;
}

.footer__logo__content {
    height: 11.438rem;
    width: 100%;
}

.footer__logo__bg {
    display: block;
    width: 7.125rem;
    height: 6.25rem;

    &--1 {
        background: url(../assets/brand4.png) no-repeat 0 0;
    }

    &--2 {
        background: url(../assets/brand4.png) no-repeat -206px 0;
    }

    &--3 {
        background: url(../assets/brand4.png) no-repeat -436px 0;
    }

    &--4 {
        background: url(../assets/brand4.png) no-repeat -647px 0;
    }

    &--5 {
        background: url(../assets/brand4.png) no-repeat -848px 0;
    }

    &--6 {
        background: url(../assets/brand4.png) no-repeat -1036px 0;
    }
}

.footer__info {
    width: 100%;
    height: 25.5rem;
    background-color: $color__text--categoties;
    text-align: left;
    padding-top: 5.3125rem;
    color: $color__text--info;
    font-family: "Lato";
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5rem;
}

.main__info {
    width: 17rem;
}

.main__info__text {
    margin-top: -2.625rem;
    margin-bottom: 2.25rem;
}

.contact__pic {
    margin-right: 1rem;
    color: $color__bg-btn__slider--active;
    width: 0.8rem;

    &>svg {
        fill: $color__bg-btn__slider--active;
        width: 0.875rem;
        height: 0.875rem;
    }
}

.footer__card__body {
    margin-bottom: 3.5rem;
}

.footer__card__title {
    color: #ffffff;
    font-family: "Lato";
    font-size: 1.125rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1.6875rem;
}

.information {
    text-decoration: none;
    display: block;
    color: inherit;
}

.logo__text--footer {
    line-height: inherit;
}

.logo__img--footer {
    position: relative;
    top: -47px;
    left: 84px;
}

.social {
    margin-left: 5.3125rem;

    &:first-child {
        margin-left: 0;
    }
}

.paymant {
    margin: -0.75rem;
    width: 15.625rem;
}

.paymant__card {
    margin: 0.75rem;
    font-size: 2.188rem;
    width: 2.4rem;
}

.property-rights {
    height: 8.875rem;
    width: 100%;
    background-color: $color__bg--bottom;
    color: white;
    font-family: "Lato";
    font-size: 0.875rem;
    font-weight: 400;
}

.content {
    margin: 0 auto;
    padding-top: 2.625rem;
}

.footer__nav {
    width: 27.625rem;
}

.rights{
    width: 100%;
    margin-top: 2.375rem;
}