.sidebar {
    flex: 0 0 auto;
    width: 18.563rem;
}

.front-bar {
    flex: 1 1 auto;
    width: 52.125rem;
}

// saidbar

.categories-list {
    box-shadow: 0 0 0.438rem rgba(0, 0, 0, 0.03);
    background-color: #ffffff;
    display: none;
}

.categories-list__item {
    // dropdown menu
    width: 16.813rem;
    flex: auto;
    border-bottom: solid 1px $color__bg-btn--categories;
    margin: 0 0.875rem;
    height: 3rem;
    line-height: 3rem;
    font-family: "Lato";
    font-size: 0.938rem;
    font-weight: 400;
    padding-left: 0.625rem;

    &:last-child {
        border-bottom: none;
    }
}

.categories-list__item__icon {
    width: 0.813rem;
    margin-right: 1.1875rem;
}

.categories-list__item__icon {
    color: $color__bg-btn--categories;
}

.offer-card {
    box-shadow: 0 0 0.438rem rgba(0, 0, 0, 0.03);
    background-color: white;
    margin-top: 2rem;
}

.offer-card__container {
    align-items: center;
}

.offer-card__header {
    border-bottom: solid 1px $color__border;
    height: 1.063rem;
    list-style: 1.063rem;
    padding: 1.5625rem 0;
    width: 15.313rem;
}

.offer-card__header__title {
    font-family: "Lato";
    font-size: 1.375rem;
    font-weight: 700;
    text-transform: uppercase;
}

.btn__left {
    font-size: 1.438rem;
    color: $color__bg-btn__slider--active;
    cursor: pointer;
}

.btn__rigth {
    font-size: 1.438rem;
    color: $color__bg-btn__slider--inactive;
    cursor: pointer;
}

.offer-card__body {
    overflow: hidden;
    margin-top: 1.625rem;
}

.offer-card__footer {
    margin-top: 1.3125rem;
}

.offer-card__footer__title {
    color: $color__card__description;
    font-family: "Lato";
    font-size: 0.938rem;
    font-weight: 400;
}

.offer-card__footer__price {
    font-family: "Lato";
    font-size: 0.938rem;
    font-weight: 700;
    text-align: center;
    margin: 0.625rem 0;

    &--old {
        font-weight: 400;
        text-decoration: line-through;
        margin-right: 0.5rem;
    }
}

.offer-card__footer__stars {
    color: $color__stars;
    text-align: center;
    margin-bottom: 2rem;
}


// fornt bar
.front-bar {
    width: 52.125rem;
    flex: 0 1 auto;
}

// baner main side
.baner {
    height: 23.5rem;
    background: url('/assets/Layer_5.jpg') no-repeat;
}

.baner__ofert {
    // Style for "COLLECTION"
    margin-top: 92px;
    margin-left: 32px;
    width: 25.75rem;
    height: 7.563rem;
    text-shadow: 0.125rem 0.125rem 0.438rem rgba(0, 0, 0, 0.13);
    color: white;
    font-family: "Lato";
    font-size: 2.375rem;
    text-transform: uppercase;
    text-align: center;

    &__text--1 {
        color: #303a7a;
        font-weight: bold;
    }

    &__text--2 {
        font-size: 3.75rem;
        line-height: 3.626rem;
        font-weight: bolder;
    }

    &__text--3 {
        font-size: 1.375rem;
        line-height: 2.125rem;
    }
}

.baner__btn {
    width: 8.875rem;
    height: 2.625rem;
    margin-top: 50px;
    border: 0.125rem solid black;
    background-color: transparent;
    color: black;
    font-family: Lato;
    font-size: 1.063rem;
    font-weight: 700;
    text-transform: uppercase;
}

.baner__strip {
    height: 4.938rem;
    background-color: $color__bg-btn__slider--active;
    margin-bottom: 2.4375rem;
}

.baner__strip__slogan {
    text-align: center;
    color: white;
}

.slogan__title {
    font-family: "Lato";
    font-weight: 700;
    letter-spacing: 0.188rem;
    text-transform: uppercase;
}

.slogan__body {
    font-family: "Lato";
    font-size: 0.938rem;
    font-weight: 400;
}

// new product & latest porduct field

.product {
    width: 52.125rem;
    // height: 26.5rem;
    box-shadow: 0 0 0.438rem rgba(0, 0, 0, 0.03);
    background-color: #ffffff;
}

.product__container--min {
    padding: 2.5rem;
    padding-bottom: 3rem;
    margin: -1rem 0;
}

.product__header {
    flex: none;
    height: 4.6875rem;
    margin: 0 1.1875rem;
    border-bottom: solid $color__border 1px;
}

.product__title {
    color: black;
    font-family: "Lato";
    font-size: 1.375rem;
    font-weight: 700;
    text-transform: uppercase;
}

.product__nav {
    margin-right: 3rem;
    margin-left: auto;
    flex: none;
    width: 15.938rem;
}

.product__nav__itim {
    color: black;
    font-family: "Lato";
    font-size: 0.938rem;
    font-weight: 400;
    cursor: pointer;
}

.card {
    width: 11.0625rem;
    height: 17.8125rem;
    margin-left: 1.1875rem;
    margin-top: 1.6875rem;
    text-align: center;
    margin-bottom: 2rem;
}

.card__img {
    width: 11.063rem;
    height: 12.625rem;
    margin-bottom: 1.25rem;
    overflow: hidden;

    &>img {
        width: 100%;
        height: auto;
    }
}

.card__min {
    width: 14.375rem;
    height: 5.125rem;
    margin: 1rem 0;
}

.card__min__img {
    width: 5.125rem;
    height: 5.125rem;
    overflow: hidden;
    margin-right: 1.375rem;

    &>img {
        width: 100%;
        height: auto;
    }
}

.card__title {
    @extend .offer-card__footer__title;

    text-align: left;

}

.card__price {
    @extend .offer-card__footer__price;

    &--old {
        @extend .offer-card__footer__price--old;

        text-align: left;
    }

    text-align: left;
}

.card__rating {
    @extend .offer-card__footer__stars;

    text-align: left;
}

.hot__strip__card {
    width: 24.75rem;
    height: 14.125rem;
    position: relative;
}

.hot__strip {
    margin: 2rem 0;
}

.hot__strip__card {
    overflow: hidden;
}

.strip__card__left {
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
    width: 60%;
}

.strip__card__right {
    position: absolute;
    top: 0;
    right: 0;
    height: auto;
    width: 60%;
}

.mb-2 {
    margin-bottom: 2rem;
}